<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ailaysa Invoice</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="page" size="A4">
        <div class="top-section">
            <div class="address">
                <div class="address-content">
                    <h2>Ailaysa</h2>
                    <p>KK Salai, Chennai</p>
                </div>
            </div>
            <div class="contact">
                <div class="contact-content">
                    <div class="email">Email: <span class="span">contact@ailaysa.com</span></div>
                    <div class="number">Number: <span class="span">044 123456</span></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>