*.sqlite3
.env2
.env
docker-compose.yml
docker-compose.staging-v4.yml
ailaysa.yml
celerybeat-schedule
file.sql
db002.sqlite3-journal
Dockerfile
media
mediafiles
*.*.pyc
*/__pycache__/*
dj_ailaysa_slim/config.py
.secure
.env2_bak
*.sql
tms
tmsenv
venv/
*.json
*.pdf
ai_canvas/ICC_profile
ai_tms/local_settings.py
AiWorkspace.postman_collection.json
AiWorkspace.postman_collection.json
Workspace Editor.pptx
ai_auth/vendor_onboard_list.py
.idea/.gitignore
.idea/Ai_TMS.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.ipynb_checkpoints/
Untitled.ipynb
data.pkl
db2.sqlite3
db_gen.py
TestFiles/*
dbv3.sqlite3
readme.md
*.pkl
server.log
project management and workspace apis .postman_collection
my-data.pkl
sqlalchemy_models.py
references.md
Source.aux
Source.log
data.txt
data2.txt
test.txt
*.secure
.secure
list_of_tables.txt
dummy.txt
test5.out-2.docx
*.bak

json_back.zip
fixtures
*.ipy
.env2.save
celery.sh
celerybeat-schedule
docker-compose_prod.yml
backupdb
/repeat_imp.py
api_automation
.idea/
logs
*.log
.env.staging.proxy-companion
.server_dev.log.swp
Dockerfile.bak1
docker-compose.staging.yml
nginx.zip
nginx/
mediafiles
.env.prod.proxy-companion
docker-compose.prod.yml
exp.zip
staticfiles/
config
fprm
/automate/
/repeat-sh-commands.txt
/test-fixtures-create.sh
/documentation/
/ignore/
/ai_management/
/db002.sqlite3.bkp
/my-test-.docx
/u599082/
/documentation/
ignore_data/
/repeat-snippets.py
/integerations/github_/migrations/
/integerations/gitlab_/migrations/
/*/*/migrations/
ai_auth/block_list.py
APP.MD
staticfiles
api_automation
env
wordsapi_sample.json
*.dot
*.png
kite-installer
staticfiles/
panda1.gif
ai_workspace_okapi/dummy.txt
my_env
req_ilango.txt
.coverage
*.yml
*.ini
*.dockerfile
ai_tms/settings/local.py
ai_tms/settings/local_settings.py
ai_workspace/html2docx_custom.py
*.xlsx
*.sh
*.zip
*.tbx
*.mp3
*.save*
*.txt
*.dockerignore
express_try.py
mydoc-project-try.py
nupedia_small(en-ta).tmx
price
