<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ailaysa</title>
  </head>
  <body>
    Hello {{name}},
    <p>{{email}} wants to get in touch with us, below are the details:</p>
    <p><b>Name:</b> {{name}}</p>
    <p><b>Whatsapp No.:</b> {{whatsapp_number}}</p>
    <p><b>Other No.:</b> {{phone_number}}</p>
    <p><b>Company/ org name:</b> {{company_name}}</p>
    <p><b>Address:</b> {{address}}</p>
    <p><b>Service type:</b> {{service_type}}</p>
    <p><b>Source language:</b> {{source_language}}</p>
    <p><b>Target language:</b> {{target_language}}</p>
    <p><b>Service description:</b> {{service_description}}</p>
  </body>
</html>


 






