<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ailaysa</title>
  </head>
  <body>
    Hi admin,
    <p>{{name}} wants to get in touch with us, below are the details:</p>
    {% if {{name}} %}
      <p><b>Name:</b> {{name}}</p>
    {% else %}
      <p><b>Name:</b> - </p>

    {% if {{email}} %}
      <p><b>Email:</b> {{email}}</p>
    {% else %}
      <p><b>Email:</b> - </p>

    {% if {{company_name}} %}
      <p><b>Company/ org name:</b> {{company_name}}</p>
    {% else %}
      <p><b>Company/ org name:</b> - </p>
    
    {% if {{service_description}} %}
      <p><b>Message:</b> {{service_description}}</p>
    {% else %}
      <p><b>Message:</b> - </p>
  </body>
</html>