<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="width:100%; height:100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ailaysa</title>
    <style>
        .credential{
            width: min(100%, 300px);
            display: flex;
            align-items: center;
        }
        .credential span:first-child{
            width: 25%;
        }

        .credential span:nth-child(2){
            width: 75%;
            margin-left: 10px;
        }
    </style>
</head>
<body style="width:100%; height:100%; margin:0; padding:32px; font: normal normal normal 14px/21px Arial,sans-serif; color:#333; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;">

    <table class="email-layout" style="width: 600px; height:300px; margin:auto; padding:0; vertical-align:middle; border-spacing:0; border-collapse:collapse;">
        <thead class="email-header" style="text-align:center;">
        <tr>
        <th style="padding-bottom:3px; font-weight:normal;">

        <div style="height: 110px; width: 130px; background: url(https://ailaysa.ams3.digitaloceanspaces.com/email-images/ailaysa_logo.png) no-repeat ; margin-left: 30%;background-position: center;  background-size: contain;">
              </div>

        </th>
        </tr>
        </thead>

        <tbody class="email-body"><tr><td style="text-align:left;">
            <div style="padding:21px 32px; background-color:#fff; ">
                <h1 style="font-size:18px; line-height:30px; font-weight:bold;">Dear user,</h1>

                    <p>We are thrilled to onboard you to Ailaysa, the fast-growing AI platform that helps Publishers, Authors and Translators to increase productivity using AI.</p>
                    <p>Congratulations!. You have now availed the New Delhi World Book Fair 2024 special offer of 30,000 words (credits).</p>
                    <p>Your login credentials are as follows:</p>
                    <!-- <p class="credential"><span><b>Email :</b></span>     <span>        {{email}}</span></p>
                    <p class="credential"><span><b>Password :</b></span>  <span>       {{gen_password}}</span></p> -->

                    <table>
                        <tr>
                            <th>Email </th>
                            <td><b>:</b> {{email}}</td>
                        </tr>
                        <tr>
                            <th>Password </th>
                            <td><b>:</b> {{gen_password}}</td>
                        </tr>
                    </table>
                    <p>Ailaysa is an Multilingual AI content creation platform, now trusted by thousands of users from over 100 countries. The platform consists of specialised apps for AI-assisted writing, book translation, conversion of books to audiobooks, book cover design and translation and many more. Also, Ailaysa supports over 100 languages, all major Indian and global languages included. We are confident that you will find value in leveraging this platform for writing, translating and publishing in multiple languages and formats.</p>
                    <p>What’s more, Ailaysa has recently launched a new module, called ‘Chatbooks’, where your readers can interact with your book and discover content.</p>
                    <p>Also, if you are a translator, you can join Ailaysa Marketplace as a service provider, where you will have the opportunity to showcase your services and win jobs and earn more.</p>
                    <p>We hope you'll start using Ailaysa for your writing, translation and publishing activities in the upcoming weeks. Please don't hesitate to contact us if you have any questions; we offer customer service via email, chat, and phone.</p>
                    <p>Log in to <a href="https://login.ailaysa.com/">Ailaysa</a> and start using it right away!</p>

                    <p>Best wishes!</p>
                    <p style="margin: 0;"> Cheers,
                    <p style="margin: 0;">Team Ailaysa</p>

            </div>
        </td></tr></tbody>

        <tfoot class="email-footer" style="text-align:center; font-weight:normal;"><tr><td style="padding-top:32px;">
            <small style="font-size:12px; color:rgb(0,0,0);">© Ailaysa Technologies Private Limited {% now "Y" %}.<small>
        </td></tr></tfoot>
    </table>

    </td></tr></table>
</body>
</html>
