<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI jobs, Internships and Projects</title>
  </head>
  <body>
    Hello admin,
    <p>{{email}} applied for AI Jobs,Internships and Projects in kanitamil landing page. Below are the details</p>
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Applied For: {{applied_for}}</p>
    <p>College :{{college}}</p>
  </body>
</html>
