<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ailaysa</title>
  </head>
  <body>
    Hello admin,
    <p>This user with email {{email}} has provided some ideas to make our application better. Below are the details</p>
    <p>Name: {{name}}</p>
    <p>Suggestion Type: {{suggestion_type}}</p>
    <p>Suggestion: {{suggestion}}</p>
    <p>Description :{{description}}</p>
    <p>Date:{{date}}</p>
  </body>
</html>
