<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ailaysa</title>
  </head>
  <body>
    Hi {{name}},
    <p>You have been invited to join <b>{{team}}</b> as an {{role}}.</p>
    <p>Click the link below to accept the invitation</p>
    <p><a href="{{link}}" target="_blank" style="padding:8px 16px; text-decoration:none; color:#fff !important; background-color:#42af5b; border:1px solid #358d49; border-radius:4px;">Accept</a></p>
    <p>
      Thank you<br>
      {{team}}
    </p>
    <!--p>{{link}}</p-->
  </body>
</html>
