<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ailaysa</title>
  </head>
  <body>
    Hi {{name}},
    <p>you are invited by <b>{{team}}</b> for the role {{role}}.</p>
    <p>click the below link to accept invite</p>
    <a href="{{link}}" target="_blank" style="padding:8px 16px; text-decoration:none; color:#fff !important; background-color:#42af5b; border:1px solid #358d49; border-radius:4px;">Accept</a>
    <!--p>{{link}}</p-->
  </body>
</html>
