<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ailaysa</title>
  </head>
  <body>
    Hello {{name}},
    {% for i in lang %}
      <p>Job Available for LanguagePair : {{i.source}}---->{{i.target}}</p>
    {% endfor %}
    <p>Bid available only till : {{bid_deadline}}</p>
    <p>Project Deadline : {{project_deadline}}</p>
    <p>(<a href="https://marketplacestaging.ailaysa.com/">Click here</a> to know more about job)</p>

    <p>Thanks,<br />Ailaysa Team</p>
  </body>
</html>
